.button {
	display: block;
	padding: 10px;
	font-size: 16px;
	text-align: center;
	border-radius: 3px;
	font-family: Verdana, Geneva, Arial;

	background: #900;
	color: #990;
	border: solid 1px #990;

	user-select: none;
}