.input {
	display: block;
	input, textarea {
		display: block;
		width: 100%;
		padding: 10px;
		font-size: 16px;
		border-radius: 0;
		font-family: Verdana, Geneva, Arial;

		background: #fff;
		color: #990;
		border: solid 1px #990;
	}
}